<section class="portfolio" id="portfolio">
    <h2 class="heading">Últimos <span>Proyectos</span></h2>

    <div class="portfolio-container">

      @for(item of project; track item){

        <div class="portfolio-box">
          <img src="{{item.img}}" alt="">

          <div class="portfolio-layer">
            <h4>{{item.title}}</h4>
            <p>{{item.description}}</p>
            <a href="{{item.url}}" target="_blank"><i class="bi bi-box-arrow-up-right"></i></a>
          </div>
        </div>

      }

    </div>
</section>
