<app-header></app-header>

<section class="home" id="home">
    <div class="home-content">
        <!-- <img src="../../../assets/img/perfil/kanky.jpg" alt="Foto de perfil"> -->
        <h1>Santino Bournot</h1>
        <h2>Técnico Universitario en Programación</h2>
        <h3>
            Frontend Developer · Firebase Integration · Soporte IT
        </h3>
        <p>Desarrollo aplicaciones web y móviles con Angular/Ionic integradas a Firebase, uniendo diseño, lógica y datos en un solo
        flujo.</p>

        <div class="social-media">
            <a href="https://wa.me/5493462667569" target="_blank"><i class="bi bi-whatsapp"></i></a>
            <!-- <a href="#" target="_blank" ><i class="bi bi-twitter-x"></i></a> -->
            <a href="https://www.instagram.com/lacelabs01" target="_blank" ><i class="bi bi-instagram"></i></a>
            <a href="https://github.com/Kanky9?tab=repositories" target="_blank" ><i class="bi bi-github"></i></a>
            <a href="https://www.linkedin.com/in/santino-bournot" target="_blank" ><i class="bi bi-linkedin"></i></a>
            <a href="https://mail.google.com/mail/u/0/#inbox?compose=DmwnWrRnXVTkxvBqbfLKqMrmZPwhFHBNpdXQwGFMXzGpGGhVWBdPjzLNbLVdNVdWdlWdpWFgvlPL"
              target="_blank"><i class='bi bi-envelope'></i></a>
        </div>

        <a href="../../../assets/pdf/CV-Bournot-Santino.pdf" download class="btn">Descargar CV</a>
    </div>

    <div class="profession-container">
        <div class="profession-box">
            <div class="profession" style="--i:0;">
                <i class='bx bx-code-alt'></i>
                <h3>Web Developer</h3>
            </div>
            <div class="profession" style="--i:1;">
                <i class='bx bx-camera'></i>
                <h3>Web Designer</h3>
            </div>
            <div class="profession" style="--i:2;">
                <i class='bx bx-palette'></i>
                <h3>Web Developer</h3>
            </div>
            <div class="profession" style="--i:3;">
                <i class='bx bx-video-recording'></i>
                <h3>Web Designer</h3>
            </div>

            <div class="circle"></div>
        </div>

        <div class="overlay"></div>
    </div>

</section>


<app-about></app-about>
<app-portfolio></app-portfolio>
<app-services></app-services>
<!-- <app-contact></app-contact> -->
<app-footer></app-footer>
