<section class="services" id="services">
  <h2 class="heading">Mis <span>Servicios</span></h2>

  <div class="services-container">
    <div class="services-box">
      <i class='bx bx-code-alt'></i>
      <h3>Desarrollo Web</h3>
      <p>
        Creación de aplicaciones y sitios web con Angular, TypeScript, Firebase e Ionic.
        Experiencia en sistemas de turnos online, e-commerce y apps híbridas.
      </p>
    </div>

    <div class="services-box">
      <i class='bx bxs-paint'></i>
      <h3>UI/UX e Integración de Diseños</h3>
      <p>
        Implementación de interfaces modernas a partir de prototipos en Figma.
        Enfoque en funcionalidad y experiencia del usuario para soluciones digitales efectivas.
      </p>
    </div>

    <div class="services-box">
      <i class='bx bx-bar-chart-alt'></i>
      <h3>Soluciones Digitales Personalizadas</h3>
      <p>
        Desarrollo a medida para emprendimientos y pymes, gestión de proyectos e integración tecnológica.
      </p>
    </div>
  </div>

  <!-- <div class="services-action">
    <a href="#portfolio" class="btn">Ver Trabajos</a>
  </div> -->
</section>
